In [47]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [48]:
data = pd.read_csv("loan.csv", header = 0)

C:\Users\srnegi\AppData\Local\Continuum\Anaconda2\envs\python_3.5\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
data.shape

(887379, 74)

In [50]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN
887350,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,NaN,NaN,NaN
887351,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN
887352,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
887353,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,26100.0,NaN,NaN,NaN
887354,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
887355,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN
887356,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,65600.0,NaN,NaN,NaN
887357,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887358,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18700.0,NaN,NaN,NaN
887359,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
887360,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,118600.0,NaN,NaN,NaN
887361,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN
887362,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN
887363,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN
887364,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN
887365,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
887366,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN
887367,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887368,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,20700.0,NaN,NaN,NaN
887369,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN
887370,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN
887371,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN
887372,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887373,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN
887374,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
887375,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887376,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
887377,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
887378,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [51]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [52]:
data.drop(['id','member_id','title', 'emp_title','zip_code', 'addr_state',
              'issue_d','url','desc','earliest_cr_line',
              'total_rec_late_fee', 'last_pymnt_d' ,'next_pymnt_d' , 
              'last_credit_pull_d'], axis=1, inplace=True)

In [53]:
 data.shape

(887379, 60)

In [54]:
#Populating the Target variable.
def populate_target(row):
    if row['loan_status'] == 'Fully Paid':
        return 1
    else:
        return 0
#Calling the populate_target function to populate the target variable.
data['target'] = data.apply (lambda row: populate_target (row),axis=1)

In [55]:

le = LabelEncoder()

In [56]:
le.fit(data['purpose'])

LabelEncoder()

In [57]:
le.classes_

array(['car', 'credit_card', 'debt_consolidation', 'educational',
       'home_improvement', 'house', 'major_purchase', 'medical', 'moving',
       'other', 'renewable_energy', 'small_business', 'vacation', 'wedding'], dtype=object)

In [58]:
cc = le.transform(data['purpose'])

In [59]:
cc

array([ 1,  0, 11, ...,  2,  2,  1], dtype=int64)

In [60]:
le.fit(data['loan_status'])

LabelEncoder()

In [61]:
le.classes_

array(['Charged Off', 'Current', 'Default',
       'Does not meet the credit policy. Status:Charged Off',
       'Does not meet the credit policy. Status:Fully Paid', 'Fully Paid',
       'In Grace Period', 'Issued', 'Late (16-30 days)',
       'Late (31-120 days)'], dtype=object)

In [62]:
len(le.classes_)

10

In [63]:
data['int_rate'].head()

0    10.65
1    15.27
2    15.96
3    13.49
4    12.69
Name: int_rate, dtype: float64

In [64]:
data['grade'] = le.fit_transform(data['grade'])
data['grade'].head()

0    1
1    2
2    2
3    2
4    1
Name: grade, dtype: int64

In [65]:
data['sub_grade'] = le.fit_transform(data['sub_grade'])

In [66]:
data['sub_grade'].head()

0     6
1    13
2    14
3    10
4     9
Name: sub_grade, dtype: int64

In [67]:
data['emp_length'] = le.fit_transform(data['emp_length'])
data['home_ownership'] = le.fit_transform(data['home_ownership'])
data['loan_status'] = le.fit_transform(data['loan_status'])
data['pymnt_plan'] = le.fit_transform(data['pymnt_plan'])

In [70]:
data['purpose'] = le.fit_transform(data['purpose'])

In [72]:
data['revol_util'].head()

0    83.7
1     9.4
2    98.5
3    21.0
4    53.9
Name: revol_util, dtype: float64

In [73]:

data['initial_list_status'] = le.fit_transform(data['initial_list_status'])